{% extends 'base/base.html' %}

{% block title %}Collection{% endblock title %}

{% block content %}
  <h2>My Collection</h2>
  {% if collections %}
    <ul>
      {% for collection in collections %}
        {% if not collection.collected %}
          <li style="padding-bottom:0.3rem">
            <strong>{{ collection.medicine.name }}</strong> from <strong>{{ collection.medicine.manufacturer }}</strong> -
            Not collected
            (<a href="{% url 'sign_collected' collection.id %}" class="sign-collected-btn">Mark as collected</a>)
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% else %}
    <p>No collections available.</p>
  {% endif %}
{% endblock content %}
