{% extends 'base/base.html' %}

{% block title %}Collection{% endblock title %}

{% block content %}
  <h2>My Collection</h2>
  {% if collections %}
    <ul>
      {% for collection in collections %}
        <li>
          <strong>{{ collection.medicine.name }}</strong> -
          {% if collection.collected %}
              Picked up
          {% else %}
              Not collected
            (<a href="{% url 'sign_collected' collection.id %}" class="sign-collected-btn">Mark as collected</a>)
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No collections available.</p>
  {% endif %}
{% endblock content %}