{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <p>
        Welcome!<br><br>

        We're dedicated to your health and well-being. Choose us for:<br><br>

        Personalized Care: Our friendly staff is here to assist you with expert advice.<br><br>

        Quality Medications: We stock trusted brands that meet rigorous standards.<br><br>

        Convenient Services: Enjoy online refills, home delivery, and a user-friendly website.<br><br>

        Expert Advice: Our pharmacists provide accurate information and address your concerns.<br><br>

        Services: Prescription Medications, OTC Products, Health & Wellness, Immunizations, Medication Therapy Management.<br><br>

        Experience the quality difference. Your health is our priority.<br><br>

        Choose us for exceptional care.<br><br><br><br>

        Gemaakt door Yusuf en Stein
    </p>
{% endblock content %}

